@using System.Web.Optimization
@model IEnumerable<Mvc_Schedule.Models.DataModels.ModelViews.FacultName>
@if (!Model.Any())
{
    <h1 id="page-title">Расписание в стадии разработки</h1>
    return;
}

<h1 id="page-title">Выберите факультет</h1>

<div id="selector-block">

    <div id="facults" style="display: none;">
        <p class="title"><img alt="Факультеты" src="@Url.Content("~/Content/images/facults.png")" />Факультеты:</p>
        <ul>
            @foreach (var facult in Model)
            {
                <li><a href="javascipt: void(0)" id="@facult.FacultId">@facult.Name</a></li>
            }
        </ul>
    </div>

    <div id="groups">
        <p class="title"><img alt="Группы" src="@Url.Content("~/Content/images/groups.png")" />Группы:</p>
        <ul></ul>
    </div>
</div>

@Scripts.Render("~/scripts/default-index")