@model Mvc_Schedule.Models.DataModels.ModelViews.LessonsCreate

<div id="page-title">Добавление звонков</div>

<link href="@Url.Content("/Content/validation.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="selector-block">
<p>Примечание: добавляются звонки только с уникальным временем.</p>
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="lesson-time">
		<div class="editor-label">
			@Html.Label("Время 1-го звонка:")
		</div>
		<select class="hours" id="Lessons_0__Hours" name="Lessons[0].Hours">
		</select>
		:
		<select class="minutes" id="Lessons_0__Minutes" name="Lessons[0].Minutes">
		</select>
	</div>
	<div id="element-fields">
	</div>
	<style>
		#element-additor {
			margin: 10px 0;
		}
		#element-additor a {
			display: inline-block;
			padding: 3px 9px;
			text-decoration: none;
			font-size: 16px;
			background: #333;
			color: #fff;
			margin: 3px 5px;
		}
			#element-additor a:hover {
				background: #fff;
				color: #333;
			}
			
	</style>
	<p id="element-additor"><a href="javascript:void(0)" id="add_element">Добавить поле</a><a href="javascript:void(0)" id="remove_element">Убрать поле</a></p>
	<script src="@Url.Content("/Scripts/lessons.js")" type="text/javascript"></script>
	<p>
		<input id="add_lesson" type="submit" value="Добавить" />
	</p>

}
</div>