@model IEnumerable<Mvc_Schedule.Models.DataModels.ModelViews.FacultName>
@if (!Model.Any())
{
    if ((bool)ViewData["isAccessable"])
    {
    <div id="page-title">@Html.ActionLink("Нужно добавить факультет", "Create")</div>
    }
    else
    {
    <div id="page-title">Список доступных факультетов пуст, обратитесь к администратору</div>
    }
    return;
}

<script type="text/javascript">
    var lastFocus = null;
    $(document).ready(function () {
        SlidePanel($("#list .title").first());
        $(".title").click(function () {
            SlidePanel($(this));
        });
    });
    function UpdateGroupList(data, div) {
        div.html('');
        if (data != null && data.length != 0) {
            var title = div.prev();
            var id = title.attr("id");
            var ex = title.find("span.export");
            ex.html('');
            ex.append('Excel: <a href="/Schedule/Excel/' + id + '/2" >чётная</a><a href="/Schedule/Excel/' + id + '/1" >нечётная</a>');
            $.each(data, function (index, d) {
                div.append('<div class="group_title"><span class="col">' + d.Name + '</span><a href="/Groups/Edit/' + d.Id + '">правка</a>' +
                '<span class="edit">Расписание: <a href="/Schedule/Create/' + d.Id + '/2">чётная</a>' +
                '<a href="/Schedule/Create/' + d.Id + '/">нечётная</a></span></div><div class="ending"></div>');
            });
            //$(".group_title:odd").css("border-bottom", "1px solid #FFCCCC");
        } else {
            div.append('<div class="group_title">Групп нет</div>');
        }
    }
    function SlidePanel(element) {
        var facultId = element.attr("id");
        if (element.parents('li').hasClass("focus") || element == null) return;
        element.parents('li').addClass("focus");
        element.find('span').css('visibility', 'visible');
        var gmenu = element.parents("li").children(".group_menu");
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=utf-8",
            url: '@Url.Action("GetGroups", "Default")',
            data: '{"id":"' + facultId + '"}',
            dataType: "json",
            success: function (data) {
                UpdateGroupList(data, gmenu);
                gmenu.stop();
                gmenu.slideDown();
            }
        });
        if (lastFocus != null) {
            lastFocus.parents("li").removeClass();
            lastFocus.parents("li").children(".group_menu").stop().slideUp();
            lastFocus.find('.edit').css('visibility', 'hidden');
        }
        lastFocus = element;
    }
</script>

<style>
    #selector-block * {
        font-size: 14px;
        padding: 0;
    }
    .col {
        display: inline-block;
    }
    #selector-block a {
        padding: 2px 8px;
        color: #999999;
    }#selector-block a:hover {
         color: #000;
     }
    #selector-block .edit {
        float: right;
        padding-left: 10px;
    }
    #selector-block .title {
        cursor: pointer;
        display: block;
        padding: 5px 0;
        border-bottom: 1px dashed #c0c0c0;
    }
    #selector-block li.focus,
    #selector-block .focus .title,
    #selector-block .title:hover {
        border-bottom: 1px solid #00cc99;
    }
    #selector-block .title .col {
        font-size: 16px;
    }
    #selector-block li {
        padding: 0 10px;
        display: block;
    }
    #selector-block .group_menu {
        display: none;
        padding: 10px 0;
    }
    .group_menu a {
        display: inline;
    }

    #selector-block .group_title {
        cursor: default;
        padding: 4px 0;
        border-bottom: 1px solid #eee;
    }
</style>
<div id="page-title">Редактор расписания</div>
<div id="selector-block">
    <div id="list">
        <ul>
            @foreach (var facult in Model)
            {
                <li>
                    <div class="title" id="@facult.FacultId">
                        <span class="col">@facult.Name</span> 
                        <span>
                            @if ((bool)ViewData["isAccessable"])
                            {
                                @Html.ActionLink("правка", "Edit", "Facult", new { id = facult.FacultId }, null)
                            }
                        </span>
                        <span class="export edit">
                            
                        </span>
                    </div>
                    <div class="group_menu">
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
