@using System.Web.Optimization
@model IEnumerable<Mvc_Schedule.Models.DataModels.ModelViews.FacultName>
@if (!Model.Any())
{
    if ((bool)ViewData["isAccessable"])
    {
    <h1 id="page-title">@Html.ActionLink("Нужно добавить факультет", "Create")</h1>
    }
    else
    {
    <h1 id="page-title">Список доступных факультетов пуст, обратитесь к администратору</h1>
    }
    return;
}

@Styles.Render("~/styles/facult-index")

<h1 id="page-title">Управление расписанием</h1>
<div id="selector-block">
    <div id="list">
        <ul>
            @foreach (var facult in Model)
            {
                <li>
                    <div class="title" id="@facult.FacultId">
                        <span class="col">@facult.Name</span> 
                        <span>
                            @if ((bool)ViewData["isAccessable"])
                            {
                                @Html.ActionLink("правка", "Edit", "Facult", new { id = facult.FacultId }, null)
                            }
                        </span>
                        <span class="export edit">
                            
                        </span>
                    </div>
                    <div class="group_menu">
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

@Scripts.Render("~/scripts/facult-index")