@model Mvc_Schedule.Models.DataModels.Entities.Lector
@Html.Partial("_ValidationStyles")
<h1 id="page-title">Список преподавателей</h1>
<div id="selector-block">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.LectorId)

        <div class="form-line">
            <div class="editor-label">
                @Html.LabelFor(model => model.PreName, "Префикс (*)")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.PreName, new { @class = "long" })
                @Html.ValidationMessageFor(model => model.PreName)
            </div>
        </div>
        
        <div class="form-line">
            <div class="editor-label">
                @Html.LabelFor(model => model.Name, "Имя (*)")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name, new { @class = "long" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-line">
            <div class="editor-label">
                @Html.LabelFor(model => model.SecondName, "Фамилия (*)")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.SecondName, new { @class = "long" })
                @Html.ValidationMessageFor(model => model.SecondName)
            </div>
        </div>

        <div class="form-line">
            <div class="editor-label">
                @Html.LabelFor(model => model.ThirdName, "Отчество")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ThirdName, new { @class = "long" })
                @Html.ValidationMessageFor(model => model.ThirdName)
            </div>
        </div>
        <p>
            <input type="submit" value="Сохранить" />
        </p>
    }
</div>
