@model Pager.PagerView<Mvc_Schedule.Models.DataModels.Entities.Lector>

@Html.Partial("_ValidationStyles")
<h1 id="page-title">Список преподавателей</h1>
<div id="selector-block">
    <p>@Html.ActionLink("Добавить", "Create") / @Html.ActionLink("Добавить (пакетом)", "AddFromTxt")</p>
    
    @Html.Partial("_Pager", Model.Pager)
    
    <ul class="list">
        @foreach (var item in Model.Model)
        {
            <li>
                @Html.ActionLink("Удалить", "Delete", new { id = item.LectorId }, new { @class = "delete" })
                @Html.ActionLink(item.FullName, "Edit", new { id = item.LectorId })
            </li>
        }
    </ul>
</div>
