@using System.Web.Optimization
@{ ViewBag.Title = "Пользователи"; }
<style type="text/css">
    #selector-block label {
        padding: 5px;
    }

    #saveChanges {
        display: block;
        background: #fff;
        color: #000;
        padding: 3px;
    }

    .controls {
        display: none;
    }
</style>

<h1 id="page-title">@ViewBag.Title</h1>
<div id="selector-block">
    <div>
        @Html.ActionLink("добавить пользователя", "register", "admin")
        <span class="controls">| 
			@Html.ActionLink("изменить пароль", "changepassword", "admin", null, new { id = "changepsw" }) | 
			<a href="javascript:void(0);" id="deleteusr">удалить</a>
        </span>
    </div>
    <div id="facults" style="display: none">
        <p class="title"><i class="fa fa-user fa-inverse"></i> Пользователи:</p>
        <ul></ul>
    </div>
    <div id="groups" style="display: none">
        <p class="title"><i class="fa fa-unlock-alt fa-inverse"></i> Доступ:</p>
        @using (Html.BeginForm("index", "admin", FormMethod.Post, new { id = "formRoles" }))
        {
            <input id="_0" value="0" name="_0" type="hidden" />
            <input id="usr" value="usr" name="usr" type="hidden" />
            <span id="hiddens"></span>
            <ul></ul>
            <input id="#saveChanges" value="Сохранить" type="submit" />
            @Html.AntiForgeryToken()
        }
    </div>
</div>
@*<style>
    #warning_bg {
        background: #333;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
        filter: alpha(opacity=90);
        opacity: 0.9;
        -moz-opacity: 0.9;
        -khtml-opacity: 0.9;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }

    #warning, #dialog {
        background: #ccc;
        position: absolute;
        width: 400px;
        padding: 20px;
    }

    #close_dialog {
        color: #666666;
        text-decoration: underline;
        font-size: 12px;
        float: right;
    }

    #warning *, #dialog * {
        color: #333;
    }

    #warning a:hover, #usrname {
        text-decoration: underline;
    }

    .warning, #dialog {
        display: none;
    }
</style>*@



@Styles.Render("~/styles/dlghelper")

<div class="warning" id="warning_bg"></div>
<div class="warning" id="dialog">
    <p>Идёт загрузка...</p>
    <a href="javascript:void(0);" id="close_dialog">закрыть</a></div>
<div class="warning" id="warning">
    <p>Вы уверены, что желаете удалить <span id="usrname"></span>?</p>
    <div><a href="javascript:void(0);" id="warning_y">Да</a></div>
    <div><a href="javascript:void(0);" id="warning_n">Нет</a></div>
</div>


@Scripts.Render("~/scripts/adm-index")
