@model Mvc_Schedule.Models.DataModels.Entities.StudGroup
@if (!((SelectList)ViewBag.FacultId).Any())
{
    if ((bool)ViewData["IsAdmin"])
    {
    <h1 id="page-title">@Html.ActionLink("Нужно добавить факультет", "Create", "Facult")</h1>
    }
    else
    {
    <h1 id="page-title">У вас нет доступных факультетов</h1>
    }
    return;
}

@Html.Partial("_ValidationStyles")
<h1 id="page-title">Добавление групп</h1>
<div id="selector-block">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="editor-label">
            @Html.LabelFor(model => model.FacultId, "Факультет")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FacultId", null, new { style = "width: 400px;" })
        </div>

        <div class="form-line">
            <div class="editor-label">
                @Html.Label("Name", "Название группы")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name, new { @class = "long" })
                @if (Html.ValidationMessageFor(x => x.Name) != null)
                { @Html.ValidationMessage("Name", "Неверно введено Название группы") }
            </div>
        </div>
        <p>
            <input type="submit" value="Добавить" /></p>
    }
</div>
