@using System.Web.Optimization
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	    <title>@ViewBag.Title / Расписание занятий АГПА</title>
	    <link rel="icon" type="image/png" href="@Url.Content("~/Content/images/favicon.png")" />
	    @Styles.Render("~/styles/main")
        @Scripts.Render("~/scripts/jquery")
	</head>@{var isAuth = Request.IsAuthenticated;}
    <body>
        <div id="wrapper">
            <header id="header">
                <a href="http://www.agpu.net/" id="agpa">АГПА</a>
                <a href="/" id="logo">Расписание занятий<img alt="Расписание занятий" src="@Url.Content("~/Content/images/logo.png")" /></a>
            </header>
            <div id="content">
                @Html.Partial("_AdminMenu", isAuth)
                @RenderBody()
            </div>
        </div>
        <footer id="footer">
            <p>@if (!isAuth){@Html.ActionLink("Войти", "logon", "auth")} Все права и законы верны в меру разумного 2013г.<br />Рукавицын Андрей <a href="mailto:crtmnk@gmail.com">rkvtsn@gmail.com</a></p>
        </footer>
    </body>
</html>
