@model Pager.Pager
@if (Model.IsVisible)
{
<style>
	#pager {
    height: 50px;
    display: inline-block;
    background: #33ccff;
    margin-left: 90px;
    padding-right: 7px;
    padding-left: 10px;
}
    #pager li {
        background: #33ccff;
        display: inline-block;
    }
    #pager a, #pager span {
        display: block;
        margin-top: 17px;
        padding-top: 3px;
        padding-left: 12px;
        color: #fff;
        padding-left: 15px;
    }
    #pager a:hover + .pagerLi_bg {
        display: block;
    }
    #pager span  { text-decoration: underline; cursor: default; }
    #pager a:hover{ 
        color: #33ccff;
        background: #fff;
    }
</style>
	
<div id="pager">
	<ul>
		<li>@Html.ActionLink("<", null, null, new { page = (Model.Previous < Model.First) ? Model.Current : Model.Previous }, null)</li>
		
		@if(Model.PagesLess != null)
		{
		<li>@Html.ActionLink("...", null, null, new { page = Model.PagesLess }, null)</li>
		}
		
		@for (var i = Model.PagesStart; i <= Model.PagesEnd; i++)
		{
		<li>
		@if (i == Model.Current)
		{
		<span>@i</span>
		}
		else
		{
		@Html.ActionLink(i.ToString(), null, null, new { page = i }, null)
		}
		</li>
		}
		
		@if(Model.PagesMore != null)
		{
		<li>@Html.ActionLink("...", null, null, new { page = Model.PagesMore }, null)</li>
		}
		
		<li>@Html.ActionLink(">", null, null, new { page = (Model.Next > Model.Last) ? Model.Current : Model.Next }, null)</li>
	</ul>
</div>
}