@model Mvc_Schedule.Models.DataModels.ModelViews.SchIndex
@using System.Web.Optimization
@Styles.Render("~/styles/sch")
@Styles.Render("~/styles/dlghelper")

<h1 id="page-title">Расписание "@Model.Title"</h1>

<div id="selector-block">

    <div id="legend">
        <div class="legend sq cell bg1" title="Лекция"></div>
        <div class="legend title cell">Лекция</div>
        <div class="legend sq cell bg3" title="Лабораторная"></div>
        <div class="legend title cell">Лабораторная</div>
        <div class="ending"></div>
        <div class="legend sq cell bg2" title="Практика"></div>
        <div class="legend title cell">Практика</div>
        <div class="legend sq cell bg4" title="Зачёт"></div>
        <div class="legend title cell">Зачёт</div>
        <div class="ending"></div>
    </div>

    <div id="sch" style="display: none;">
        <div class="column1 cell">&nbsp;</div>
        <div class="column2 cell">&nbsp;</div>
        <div class="subrow1 cell header1" val="false">Чётная</div>
        <div class="subrow1 cell header1" val="true">Нечётная</div>
        <div class="ending"></div>

        <div id="list-weeks"></div>
    </div>

</div>

<div id="controls">
    <a href="javascript:void(0);" id="update" title="Обновить" class="btn"><i class="fa fa-refresh fa-inverse"></i></a>
    <a href="#save" id="save" title="Сохранить страницу" class="btn"><i class="fa fa-cloud-download fa-inverse"></i></a>
    <div class="ending"></div>
</div>


<div class="warning" id="warning_bg"></div>
<div class="warning" id="dialog">
    <p>Идёт загрузка...</p>
    <a href="javascript:void(0);" id="close_dialog">закрыть</a>
</div>

<input type="hidden" value="@Model.Keyword" name="search-keyword" id="search-keyword" />

@if (Model.IsAvailable)
{
    @Html.Partial("_ValidationStyles")
    @Styles.Render("~/styles/jquery-ui")
    <div class="warning" id="warning">
        <p>Вы уверены, что желаете удалить <span id="title_on_delete"></span>?</p>
        <div><a href="javascript:void(0);" id="warning_y">Да</a></div>
        <div><a href="javascript:void(0);" id="warning_n">Нет</a></div>
    </div>

    <form class="warning" id="dialog_form" style="width: 600px; height: 200px;">
        <p id="msg"></p>
        <div id="clearable">

            <div class="form-line form-inline">
                <label for="auditory">Аудитория:</label>
                <input type="text" name="auditory" id="auditory" value="" required />
            </div>

            <div class="form-line form-inline">
                <label for="lector">Преподаватель:</label>
                <input type="text" name="lector" id="lector" value="" required />
            </div>
            
            <div class="form-line form-inline">
                <label for="subject-title">Дисциплина:</label>
                <input type="text" name="subject-title" id="subject-title" value="" required />
            </div>

            <div class="form-line form-inline">
                <label for="lesson-type">Тип занятия:</label>
                <select name="lesson-type" id="lesson-type">
                    <option value="1">Лекция</option>
                    <option value="2">Лабораторная</option>
                    <option value="3">Практика</option>
                    <option value="4">Зачёт</option>
                </select>
            </div>

            <div class="form-line form-inline">
                <label for="group-sub">Подгруппа:</label>
                <select name="group-sub" id="group-sub">
                    <option value="0">Нет</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
        

            <div class="ending"></div>
            
            <a id="ok" href="javascript: void(0)">Ок</a>
            <a id="cancel" href="javascript: void(0);">Отмена</a>
            
            <div id="is-available" class="panel"></div>

            <input type="hidden" name="sch-id" id="sch-id" value="0" />
            <input type="hidden" name="weekday-id" id="weekday-id" value="0" />
            <input type="hidden" name="lesson-id" id="lesson-id" value="0" />
            <input type="hidden" name="week" id="week" value="0" />
        </div>
        <input type="hidden" name="group-id" id="group-id" value="@Model.GroupId" />

        @Html.AntiForgeryToken()
    </form>
    @Scripts.Render("~/scripts/sch-create")
}
else
{
    <input type="hidden" name="group-id" id="group-id" value="@Model.GroupId" />
    @Scripts.Render("~/scripts/sch-index")
}